@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');

$titleFont: 'Playfair Display', serif;
$textFont: 'Montserrat', sans-serif;
$bgColor: #f7f7f7;
$textLightGrey: rgb(95, 95, 95);
$textLightGrey: #808080;

body, html {
    margin: 0;
    height: 100%;
}

body{
    font-family: $textFont;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "iface";
    background-color: $bgColor;
    
    p {
      line-height: 24px;
      letter-spacing: 0.3px;
    }

    h1{
      font-family: 'Playfair Display', serif;
      letter-spacing: 1.5px;
    }
}

#app {
    grid-area: iface;
    width: 100%;
    height: 100%;

    .container {
        background-color: $bgColor;
        overflow: hidden;
        height: 100%;
        
        .inner {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 100%;

            nav {
                font-family: 'Montserrat Semibold', sans-serif;
                background: none;
                display: grid;
                grid-template-columns: 200px auto;
                grid-template-areas: 
                "logo nav";
                // ---
                // padding left and right add to total with, making the nav go off screen.
                // used margin on child elements instead.
                padding-top: 20px;
                padding-bottom: 20px;
                // ---
                position: absolute;
                top: 0;
                right: 0;
                z-index: 5;
                width: 100%;
                      
                #logo {
                    margin-left: 20px;
                    font-size: 1.5em;
                    font-family: $titleFont;
                    grid-area: logo;
                    font-weight: 700;
                    text-decoration: none;
                    color: $textLightGrey;
                }
  
                ul {
                    grid-area: nav;
                    list-style-type: none;
                    justify-self: right;
                    margin: 0;
                    margin-right: 20px;
                    padding-top: 5px;

                    li {
                        display: inline;
  
                        a {
                            text-decoration: none;
                            color: $textLightGrey;
                            font-size: 1.1em;
                            text-transform: uppercase;
                            padding-right: 0px;
                            padding-left: 20px;
                            font-weight: bold;

                            transition: color .5s ease;
                            -o-transition: color .5s ease;
                            -moz-transition: color .5s ease;
                            -webkit-transition: color .5s ease;
                        }  
                        a:hover{
                            color: rgb(212, 212, 212);
                        }
                    } 
                }
            }
        }
    }
}

.main-content{
    height: 100%;
    width: 100%;
    position: absolute;

    .infoBox {
        z-index: 99;
        margin: 0px;
        padding: 0px;
        background: #fff;
        color: #707070;
        box-shadow: 10px 10px 20px rgba($color: #000000, $alpha: 0.10);

        h1 {
          margin-left: 50px;
          margin-top: 50px;
          margin-right: 50px;
          margin-bottom: 0px;
          line-height: auto;
        }

        h2{
          padding-top: 20px;
          margin-left: 50px;
          margin-top: 0;
          font-family: 'Playfair Display', serif;
          font-weight: lighter;
        }

        .infoText {
            // text-align: justify;
            margin-left: 50px;
            margin-right: 50px;
            font-family: 'Montserrat', sans-serif;
        }
        p {
          font-size: 16px;
        }

      }
    .illustration{
        position: absolute;
        padding: 0;
        margin: 0;

        .layerBg{
            fill: $bgColor;
            stroke: none !important;
        }
    }   
}

a{
  text-decoration: none;
}

.callToAction {
  margin-top: 30px;
  height: 70px;
  width: 100%;
  border-top: 1px solid #c4c4c4;
  display: grid;
  grid-template-columns: auto; 
  background-color: #fff;
  transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;

  button {
      align-self: center;
      justify-self: center;
      background: none;
      outline: 0;
      border: 0px;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5em;
      text-transform: uppercase;
      color: #c4c4c4;
      cursor: pointer;

      transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
      -moz-transition: color 0.5s ease;
      -webkit-transition: color 0.5s ease;
  }
}
.callToAction:hover {
  background-color: #f7f7f7;

  button {
      cursor: pointer;
      color: #707070;
  }
}

.fade-enter-active {
  animation: slidePageIn 1s forwards;
  // animation-timing-function: cubic-bezier(.8, -0.49, .36, 1);
}

.fade-leave-active {
  animation: slidePageDown 1s forwards;
  // animation-timing-function: cubic-bezier(.8, -0.49, .36, 1);
}

@keyframes slidePageIn {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slidePageDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10%);
  }
}